<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon name="chevron-back-outline" [routerLink]="['../../']"></ion-icon>
    <ion-title>{{selectedRecipe.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="selectedRecipe.imagePath"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{selectedRecipe.title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ing of selectedRecipe.ingredients">
            <ion-label>{{ing}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
